/* inter */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
/* header */
.header{
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin:  57px 190px 0;
}
/* nav */
.navbar{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.logo{
    padding-top: 5px;
}
.logo i{
    font-weight: 800;
    font-size: 36px;
    color: rgb(230, 83, 60);
}
.links{
    display: flex;
    width: 465px;
    height: 36px;
    gap: 10px;
    padding: 8px 20px 8px 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 39px;
}
.links .link{
    list-style-type: none;
}
.links .link a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}
#home{
    background-color: rgb(230, 83, 60);
    height: 38px;
    text-align: center;
    border-radius: 46px;
}
/* header content starts */
.header-container{
    display: flex;
    margin-top: 32px;
}
.header-left{
    padding-top: 98px;
}
.header-left h1{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
.shape{
    font-family: "Dancing Script", cursive; 
}
.header-left p{
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 0.5px;
}
.btn-fam{
    margin-top: 44px;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    border-radius: 42px;
    border: none;
}
#btn-red{
    background-color: rgb(230, 83, 60);
}
#btn-black{
    background-color: black;
    border: 1px solid white;
}
.image{
    margin-left: 350px;
}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    position: absolute;
    top: 550px;
    right: 550px;
}
.video-common{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    filter: blur;
    background: rgba(48, 48, 48, 0.54);
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: red;
}
#free-workout{
    position: absolute;
    top: 300px;
    right: 200px;
    color: white;
    padding-top: 17px;
    padding-left: 24px;
}
/* Change Your Habits */
.change{
    margin:  100px 190px 0;
}
.middle{
    text-align: center;
    color: white;
}
.middle h1{
    font-weight: 900;
    font-size: 48px;
}
.middle p{
    font-weight: 400px;
    font-size: 14px;
    padding-top: 14px;
}
.card-box{
    margin-top: 58px;
    display: flex;
    gap: 25px;
}
.card{
    text-align: center;
}
.card img{
    border-radius: 50%;
}
.card h3,p{
    color: white;
}
.card h3{
    margin-top: 20px;
}
.card p{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
}
.run-extra{
    margin:  100px 190px 0;
    background-color: rgb(34, 34, 34);
    border-radius: 18px
}
.run{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.run-left{
    padding-left: 54px;
    width: 643px;
}
.run-left h1{
    font-size: 48px;
    font-weight: 900;
}
.run-left p{
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
}
.run-right{
    padding: 30px 30px 30px 165px;
}
.run-right img{
    width: 366px;
    height: 366px;
    border-radius: 18px;
}
/* BMI Calculator */
.calculator{
    text-align: center;
    margin-top: 100px;
}
.calculator h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.calculator-container{
    background-color:  rgb(34, 34, 34);
    margin-top: 100px;
}
.calculator-container{
    display: flex;
    justify-content: space-between;
}
.chart{
    margin-top: 52px;
    margin-left: 300px;
}
.chart h1{
    font-size: 28px;
    font-weight: 900;
    color: white;
}
.table, th, td {
    margin-top: 52px;
    border: 1px solid white;
    border-collapse: collapse;
    width: 300px;
    height: 40px;
    color: white;
    text-align: center;
}
.calculation{
    margin-top: 49px;
    margin-right: 189px;
    margin-bottom: 52px;
}
.calculation h1{
    font-size: 28px;
    font-family: 900;
    color: white;
}
.calculation p{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 34px;
}
.dflex{
    display: flex;
}
.input-box input{
    height: 35px;
    background-color: rgba(128, 128, 128, 0.336);
    border: none;
    margin-bottom: 5px;
}
.input-box input::placeholder{
    color: white;
    padding-left: 20px;
}
#activity{
    width: 21.5rem;
}
.input-box i{
    color: white;
    position: absolute;
    right: 24rem;
    padding-top: 5px;
}
.join{
    margin-top: 34px;
    width: 181px;
    height: 50px;
    background-color: rgb(230, 83, 60);
}
/* why choose us */
.choose{
    margin:  250px 190px 0;
   display: flex;
}
.choose-img{
    width: 50%;
    position: relative;
    left: 35px;
    bottom: 100px;
    z-index: 1;
}
.choose-img img{
    width: 100%;
}
.choose-content{
    width: 50%;
    background-image:  linear-gradient(rgba(255, 192, 203, 0.473), rgba(255, 255, 255, 0.63), rgba(0, 128, 0, 0.411)), url(../img/exercise1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}